.card {
    display: flex;
    position: absolute;
    height: 15rem;
    width: 15rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

    img {
        pointer-events: none;
    }
}

.prevCard {
    left: calc(0% + 2rem);
    opacity: 0;
}

.activeCard {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nextCard {
    left: 100%;
    transform: translateX(calc(-100% - 2rem));
    opacity: 0;
}