@use "./animations.scss";
@use "./mixins.scss" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");

.hero {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    background-image: url("/assets/images/horns2.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    background-repeat: no-repeat;
    background-position: 0;
    background-attachment: fixed;
    background-size: auto;
    background-blend-mode: overlay;
    animation-delay: 0.2s;

    &__header {
        margin: 8vh 8vw 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__title {
            color: var(--base-white);
            font-family: "Zen Antique", serif;
            animation: fadeAndSlideIn 2s;
            font-size: calc(3rem + 4vw);
        }

        &__typing {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--base-white);
        }
    }

    &__children {
        display: flex;
        flex-direction: column;
    }

    @include mixins.respond(tab-port) {
        background-size: cover;
        background-position: 50% 50%;

        &__header {
            align-items: center;

            &__title {
                font-size: calc(3rem + 2vw);
            }
        }
    }
}

