@use "./animations.scss";
@use "./mixins.scss" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  width: 100%;
  z-index: 1;

  &__container {
    margin: 0 8vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__logo {
      padding: 1.5rem 0;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      transform: rotate(-1deg);
      cursor: pointer;
    }

    &__links {
      position: absolute;
      right: 0;
      top: 0;
      height: 100vh;
      width: 25vw;
      min-width: 17rem;
      background-color: var(--gray-400);
      color: var(--gray-100);
      font-size: 2rem;
      transform: translateX(100%);
      opacity: 0;
      transition: all 0.2s ease-out;

      &__list {
        margin: 4rem;
        padding: 0;
        font-variant: small-caps;
        list-style: none;

        &__item {
          &--active {
            color: var(--secondary-color);
          }
          
          a:hover {
            color: var(--secondary-color);
            border-bottom: 2px solid var(--secondary-color);
          }
        }
      }
      
      &--open {
        opacity: 1;
        transform: translateX(0%);
        transition: all 0.2s ease-in-out;
        box-shadow: -1px 0px 10px 1px var(--gray-500);
      }
    }

    &__burger {
      display: block;
      cursor: pointer;

      div {
        width: 25px;
        height: 3px;
        background-color: var(--taupe-500);
        margin: 5px;
        transition: all 0.3s ease;
      }

      &--open {
        div {
          background-color: var(--gray-100);
        }
      }
      &__lineOne {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      &__lineTwo {
        opacity: 0;
      }
      &__lineThree {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }
}

.backdrop::after {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
