@use "./animations.scss";
@use "./mixins.scss" as mixins;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 6vh;
  z-index: 3;
  width: 100%;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;

    &__logo {
      padding: 1.5rem;
      font-family: "Roboto", sans-serif;
      font-size: 1.5rem;
      transform: rotate(-1deg);
      cursor: pointer;
    }

    &__links {
      ul {
        padding: 1.5rem 0;
        margin: 0;
        list-style: none;
        display: flex;
        font-variant: small-caps;

        li {
          a {
            padding: 0.3rem;
            margin: 0 0.5rem;
          }

          a:hover {
            border-bottom: 2px solid var(--taupe-500);
          }
        }
      }
    }

    &__burger {
      display: none;
      cursor: pointer;
      z-index: 3;

      div {
        width: 25px;
        height: 3px;
        background-color: var(--taupe-500);
        margin: 5px;
      }
    }
  }

  @include mixins.respond(tab-port) {
    &__container {
      justify-content: space-evenly;
      width: 100%;

      &__links {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 70vw;
        background-color: var(--taupe-400);
        color: var(--taupe-100);
        font-size: 2rem;
        transform: translateX(100%);
        opacity: 0;
        transition: all 0.2s ease-out;

        ul {
          margin: 2rem 0;
          flex-direction: column;

          li {
            margin-bottom: 1rem;

            a {
              margin: 0 8rem;
            }

            a:hover {
              border-bottom: 2px solid var(--taupe-100);
            }
          }
        }

        &Active {
          opacity: 1;
          transform: translateX(0%);
          transition: all 0.2s ease-in-out;
        }
      }

      &__burger {
        display: block;

        div {
          transition: all 0.3s ease;
        }
        &__lineOne {
          transform: rotate(-45deg) translate(-5px, 6px);
        }
        &__lineTwo {
          opacity: 0;
        }
        &__lineThree {
          transform: rotate(45deg) translate(-5px, -6px);
        }
        &Active {
          div {
            background-color: var(--taupe-100);
          }
        }
      }
    }
  }
}
