@use "./animations.scss";
@use "./mixins.scss" as mixins;

.testimonials {
  margin: 4vh 8vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  user-select: none;

  &__testimonial {
    margin: 1rem 0;
    padding: 1rem;
    height: 8rem;
    width: 8rem;
    min-width: 8rem;
    display: flex;
    justify-self: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    font-variant: small-caps;
    box-shadow: 2px 3px 5px var(--gray-300);
    animation: fadeAndSlideIn 1.6s forwards;

    &:last-child {
      opacity: 0;
      animation-delay: 0.3s;
    }

    &__number {
      font-family: "Courier New", Courier, monospace;
      font-size: 3rem;
      color: var(--secondary-color);
    }
  }

  @include mixins.respond(tab-port) {
    justify-content: center;
    flex-direction: row;
    
    &__testimonial {
      margin: 0 1rem;
    }
  }
}
