.tooltip {
    display: inline-block;
    position: relative;

    &__message {
        padding: 1.5rem;
        position: absolute;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        color: var(--tooltip-text-color);
        background: var(--tooltip-background-color);
        font-size: 1rem;
        font-weight: 400;
        font-style: italic;
        font-family: sans-serif;
        line-height: 1;
        z-index: 10;
        white-space: nowrap;
        box-shadow: 2px 3px 5px black;
        transition: all 1s ease-in-out;

        &__top {
            top: calc(var(--tooltip-margin) * -1);
        }

        &__right {
            left: calc(100% + var(--tooltip-margin));
            top: 50%;
            transform: translateX(0) translateY(-50%);
        }
        
        &__bottom {
            bottom: calc(var(--tooltip-margin) * -1);
            top: 120%;
        }

        &__left {
            left: auto;
            right: calc(100% + var(--tooltip-margin));
            top: 50%;
            transform: translateX(0) translateY(-50%);
        }
    }
}


