:root {
--primary-color: #54777d; 
--secondary-color: #ffae00; 
--tertiary-color: #00bbf0; 


--taupe-100:rgb(255, 240, 200);
--taupe-200:rgb(192, 181, 149);
--taupe-300: #72624c;
--taupe-400: #30291f;
--taupe-500: #18140f;

}
